
<div class="main">
  <div class="block-wrapper">
    <h3>1 st layer component</h3>
    <h3>{{title}}</h3>
    <app-dyn-button [routerLink]="['angular']" [dynBntTitle]="'Angular'"></app-dyn-button>
    <app-dyn-button routerLink="react" [dynBntTitle]="'React'"></app-dyn-button>
    <app-dyn-button routerLink="pp" [dynBntTitle]="'PP'"></app-dyn-button>
    <app-dyn-button routerLink="counter" [dynBntTitle]="'Counter Example'"></app-dyn-button>
    <app-dyn-button routerLink="counter2" [dynBntTitle]="'Counter Example 2'"></app-dyn-button>
    <!--  <router-outlet></router-outlet>-->

  </div>
  <div class="block-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
