.component-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 2px solid #817d7d;
  background-color: #6378f3;
  color: #ecd9d9;
  border-radius: 5px;
  width: 50%;
  height: 45%;
}
