
<div class="main">
  <div class="block-wrapper">
    <h3>2 nd layer component</h3>
    <h4>{{'Main Block'}}</h4>
    <app-dyn-button routerLink="html" [dynBntTitle]="'HTML'"></app-dyn-button>
    <app-dyn-button routerLink="css" [dynBntTitle]="'CSS'"></app-dyn-button>
    <app-dyn-button routerLink="prime" [dynBntTitle]="'Forms'"></app-dyn-button>
    <app-dyn-button routerLink="lessons" [dynBntTitle]="'Lessons'"></app-dyn-button>

  </div>
  <div class="block-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
