.text-wrapper{
  border-radius: 5px;
  width: 90%;
  padding: 1rem;
  background-color: #f0f5ef;
  outline: 2px solid #f6eded;
  transform: translateY(-4px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  margin-top: 1rem;
}
