
<div class="btn-wrapper" >
  <app-button routerLink="ngrx-test" (click)="foo('NGRX-test')" bntTitle="NGRX-test"></app-button>
  <app-button routerLink="parent" (click)="foo('Parent')" bntTitle="Parent"></app-button>
  <app-button routerLink="child" (click)="foo('Routing Test')" bntTitle="Routing Test"></app-button>
  <app-button routerLink="life-cycle" (click)="foo('Life Cycle')" bntTitle="Life Cycle"></app-button>
  <app-button routerLink="first-layer" (click)="foo('1st layer')" bntTitle="1 st Layer"></app-button>
</div>

<router-outlet></router-outlet>




